# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
*.auto.tfvars
terraform.tfvars
.terraform.tfstate.lock.info
**/secrets.tfvars
crash.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local

.aws/


